# Web Scraping Box Office Mojo

In [1]:
import bs4
import requests
import pandas as pd
import numpy as np
import time
import random
import regex as re

Form initial list of movies based off the Box Office Mojo website

In [2]:
# Pages to scrape
url_list = ['https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/'
            ,'https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/?offset=200'
            ,'https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/?offset=400'
            ,'https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/?offset=600'
            ,'https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/?offset=800']

# Column names
cols = ['Rank'
        , 'Title'
        ,'Worldwide Lifetime Gross'
        , 'Domestic Lifetime Gross'
        , 'Domestic %'
        , 'Foreign Lifetime Gross'
        , 'Foreign %'
        , 'Year']
data = []

# Scrape table data from URLs
for url in url_list:
    html_content = requests.get(url).text
    soup = bs4.BeautifulSoup(html_content, "lxml")
    
    table = soup.find('table') 
    table_rows = table.findAll('tr')
    
    data.append([[td.findChildren(text=True) for td in tr.findAll("td")] for tr in table_rows])

# data[-1]

In [3]:
# Transform sraped data into a dataframe
df = pd.DataFrame()

for j in range(0,len(url_list)):
    for i in data[j]:
        df = df.append(pd.DataFrame(i).transpose())

df.columns = cols
df.drop(columns = 'Rank', inplace=True)
df.reset_index(drop = True, inplace = True)

df.head()

,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
0,Avatar,"$2,847,246,203","$760,507,625",26.7%,"$2,086,738,578",73.3%,2009
1,Avengers: Endgame,"$2,797,501,328","$858,373,000",30.7%,"$1,939,128,328",69.3%,2019
2,Titanic,"$2,201,647,264","$659,363,944",30%,"$1,542,283,320",70%,1997
3,Star Wars: Episode VII - The Force Awakens,"$2,069,521,700","$936,662,225",45.3%,"$1,132,859,475",54.7%,2015
4,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018

In [4]:
# Backup Mojo Movie list
df.to_csv('bk_mojo.csv', index = False)